<section class="flex justify-center items-center h-full" *ngIf="!isAuthenticated">
  <header class="bg-primary-50 space-y-4 p-4 shadow rounded ml-4">
    <h1 class="font-bold text-4xl uppercase">Kalorijų Skaičiuoklė</h1>
    <div class="flex gap-2">
      <a class="text-sm rounded text-white bg-secondary-500 px-3 py-2" routerLink="prisijungimas">Prisijungti</a>
      <a class="text-sm rounded text-white bg-secondary-500 px-3 py-2" routerLink="registracija">Registruotis</a>
    </div>
  </header>
</section>
