  <nav class="bg-primary-500 text-white p-4 flex justify-between items-center" role="navigation" aria-label="main navigation">
    <div class="logo flex">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
      </svg>
      <a routerLink="" class="text-md font-normal">
        Kalorijų Skaičiuoklė
      </a>
    </div>
    <div class="flex gap-2" *ngIf="isAuthenticated">
      <div class="flex items-center">
        <a routerLink="/apzvalga" class="font-normal text-md">
          Apžvalga
        </a>
      </div>
      <button class="text-md rounded bg-primary-800 hover:bg-secondary-700 px-2 py-1 hover:bg-secondary-500" (click)="logout()">
        Atsijungti
      </button>
    </div>
  </nav>
